/* color */
.bg-main {
  background-color: #0099cc !important;
}
.bg-mlight {
  background-color: #cce4ffa0 !important;
}
.bg-disabled {
  background-color: #f4f5f5 !important;
}
.text-main {
  color: #0099cc !important;
}
.text-mlight {
  color: #cce4ffa0 !important;
}
.border-main {
  border-color: #0099cc !important;
}
.border-mlight {
  border-color: #cce4ffa0 !important;
}
/* hover */
/* hover text */
.item-hover:hover {
  color: blue;
}
.hover-text-bold:hover {
  color: blue !important;
}
.hover-text-main:hover {
  color: #0099cc !important;
}
.hover-text-white:hover {
  color: white !important;
}
.hover-link:hover {
  color: blue !important;
}
.hover-underline:hover {
  text-decoration: underline;
}
/* hover background */
.hover-bg-1:hover {
  background-color: #e8e2e25c !important;
}
.hover-bg-main:hover {
  background-color: #0099cc !important;
}
.hover-bg-light:hover {
  background-color: #cce4ffa0 !important;
}
.hover-bg-primary:hover {
  background-color: #0a58ca !important;
}
/* hover border */
.hover-border-main:hover {
  border-color: #0099cc !important;
}
/* hover shadow */
.hover-shadow-sm:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* font size */
.ts-xs {
  font-size: 12.75px;
}
.ts-sm {
  font-size: 13.75px;
}
.ts-smd {
  font-size: 15px;
}
.ts-md {
  font-size: 16px;
}
.ts-lg {
  font-size: 18px;
}
.ts-xl {
  font-size: 20px;
}
.ts-xxl {
  font-size: 24px;
}
.ts-17 {
  font-size: 17px;
}
/* font weight */
.fw-500 {
  font-weight: 500 !important;
}
.fw-550 {
  font-weight: 550 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
/* element width by percentage */
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
/* custom cv input, textarea */
.cv-input {
  border: none;
}
.cv-input:focus {
  outline: none;
}
.cv-input:hover {
  outline: 1px dashed darkgray;
}
.resize-none {
  resize: none;
}
/* z-index */
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}
/* others */
.whitespace-preline {
  white-space: pre-line;
}
.text-decoration-none {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
/* custom bootstrap css */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}
.form-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}
