@media screen and (min-width: 992px) {
    .menu-part {
        width: 20%;
        height: 100vh;        
    }
    .content-part {
        width: 80%;
        height: 100vh;
        overflow-y: auto;
    }
}