body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Merriweather;
  src: url("./assets/fonts/Merriweather-Light.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Wenkai;
  src: url("./assets/fonts/LXGWWenKaiTC-Bold.ttf");
}

@font-face {
  font-family: RobotoMono;
  src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf");
}
