.cv-bg-main2 {
  background-color: #ffa211 !important;
}
.cv-bg-light2 {
  background-color: #fbebd1 !important;
}
.cv-text-main2 {
  color: #ffa211 !important;
}
.title2 {
  font-size: 18px;
  font-weight: 550;
  color: #ffa211;
}
.content2 {
  font-size: 14px;
}
